<div id="carthead">
  <h3 id="breadcrumb">
    {% if template.name != "index" %}
      <a href="/">Shop</a>
    {% else %}
      <b>Shop</b>
    {% endif %}
    {% case template %}
      {% when 'collection' %}
        &gt; <b>{{collection.title}}</b>
      {% when 'product' %}
        &gt; {{ product.type | link_to_type }} &gt; <b>{{ product.title }}</b>
      {% else %}
    {% endcase %}
  </h3>
  <h3 id="cartcount"><a href="/cart" class="mdi-cart"></a> {{ cart.item_count }}</h3>
</div>
