<div id="carthead">
  <h3 id="breadcrumb">
    {% if template.name != "index" %}
      <a href="/">Shop</a>
    {% else %}
      Shop
    {% endif %}
    {% case template %}
      {% when 'collection' %}
        &gt; {{collection.title}}
      {% when 'product' %}
        &gt; {{ product.type | link_to_type }} &gt; {{ product.title }}
      {% else %}
    {% endcase %}
  </h3>
  <h3 id="cartcount"><a href="/cart" class="mdi-cart"></a> {{ cart.item_count }}</h3>
</div>
