<div id="sideBox">
  <ul class="leftlinks" id="blend-border">
    <!-- list available collections  -->
    {% for link in linklists.main-menu.links %}
      {% if collection.title == link.title %}
        <!-- current collection without link -->
        <li>{{ link.title }}</li>
      {% else template.name == 'index'%}
        <!-- other collections with link -->
        <li>{{ link.title | link_to: link.url }}</li>
      {% endif %}
    {% endfor %}
    <hr>
    <li class="toptextlink">
      <a href="https://db.eboy.com/" target="_blank" class="mdi-database">DB</a>
    </li>
    <li class="toptextlink">
      <a href="https://twitter.com/eboyarts/" target="_blank" class="mdi-twitter">Twitter</a>
    </li>
    <li class="toptextlink">
      <a href="https://www.instagram.com/eboyarts/" target="_blank" class="mdi-instagram">Instagram</a>
    </li>
  </ul>
</div>
