<div id="sidebarleft">
  <ul class="leftlinks-collections">
    {% for link in linklists.main-menu.links %}
      {% if collection.title == link.title %}
        <li class="active-collection">{{ link.title }}</li>
      {% else template.name == 'index'%}
        <li>{{ link.title | link_to: link.url }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  <hr/>
  <ul class="leftlinks-other">
    <li class="exlink">
      <a href="https://db.eboy.com/" target="_blank" class="mdi-database">Portfolio</a>
    </li>
    <li class="exlink">
      <a href="https://twitter.com/eboyarts/" target="_blank" class="mdi-twitter">Twitter</a>
    </li>
    <li class="exlink">
      <a href="https://www.instagram.com/eboyarts/" target="_blank" class="mdi-instagram">Instagram</a>
    </li>
  </ul>
</div>
