/* Reference: https://materialdesignicons.com/ */
@font-face {
  font-family: "materialdesignicons";
  src: url("materialdesignicons-webfont.ttf");
  font-weight: normal;
  font-style: normal;
}

/* TEST */
.icon-shop::before,
.icon-database::before,
.icon-twitter::before,
.icon-instagram::before,
.icon-cart::before,
.icon-info::before,
.icon-settings::before,
.icon-edit::before,
.icon-creditcard::before,
.icon-search::before {
  font-family: "materialdesignicons";
  line-height: inherit;
  font-size: inherit;
  padding-right: 0.3rem;
}

.icon-shop::before {
  content: "\f49a";
}

.icon-database::before {
  content: "\f03c";
}

.icon-twitter::before {
  content: "\f544";
}

.icon-instagram::before {
  content: "\f2fe";
}

.icon-cart::before {
  content: "\f110";
}

.icon-info::before {
  content: "\f2fc";
}

.icon-settings::before {
  content: "\f493";
}

.icon-edit::before {
  content: "\f3eb";
}

.icon-creditcard::before {
  content: "\f19b";
}

.icon-search::before {
  content: "\f21e";
}
