/* Reference: https://cdn.materialdesignicons.com/3.0.39/@charset "UTF-8"; */
@font-face {
  font-family: "materialdesignicons";
  src: url("materialdesignicons-webfont.ttf");
  font-weight: normal;
  font-style: normal;
}

/* TEST */
.mdi-shop::before,
.mdi-database::before,
.mdi-twitter::before,
.mdi-instagram::before,
.mdi-cart::before,
.mdi-info::before,
.mdi-settings::before,
.mdi-edit::before {
  font-family: "materialdesignicons";
  line-height: inherit;
  font-size: inherit;
  padding-right: 0.3rem;
}

.mdi-shop::before {
  content: "\f49a";
}

.mdi-database::before {
  content: "\f1b8";
}

.mdi-twitter::before {
  content: "\f544";
}

.mdi-instagram::before {
  content: "\f2fe";
}

.mdi-cart::before {
  content: "\f110";
}

.mdi-info::before {
  content: "\f2fc";
}

.mdi-settings::before {
  content: "\f493";
}

.mdi-edit::before {
  content: "\f3eb";
}
